body{
    font-family: Roboto;
}
.mask.mask-custom {
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.6);
    
  }

  #hero-quote{
    line-height: 1.5 ;
    font-family: monospace-bold;
    font-size: 1.5rem;
  }

#image-1{
    height: 80vh;
}
#image-2{
    height: 80vh;
}
#image-3{
    height: 80vh;
}

#board-h{
    background-image: url(../img/bgh-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.6);
    letter-spacing: 10px;
    font-size: xx-large;
}

#cruiser{
    background-image: url(/img/cruiser4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.6);
    letter-spacing: 8px;
    font-size: x-large;
    
}

#skateboard{
    background-image: url(/img/skate.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.6);  
    letter-spacing: 8px;
    font-size: x-large;
    
}

#longboard{
    background-image: url(/img/longboard.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.6);  
    letter-spacing: 8px;
    font-size: x-large;
    
}

#racing{
    background-image: url(/img/race-deck1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.6);
    letter-spacing: 8px;
    font-size: x-large;
    
    
}


